@import "../bower_components/normalize-css/normalize.css";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.canvas {
  width: 900px;
  height: 675px;
  margin: 0 auto;
}
.canvas #timeline-background {
  fill: #263843;
}
.canvas #timeline-marker {
  fill: #2f4653;
}
.canvas .timeline-controls {
  position: relative;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.canvas .timeline-controls .timeline-point {
  fill: none;
  stroke: #2f4653;
}
.canvas .timeline-controls .timeline-point text {
  fill: #eeeeee;
  stroke: none;
  font-size: 1.2em;
}
.canvas .content g {
  display: none;
}
.canvas .content g:first-child {
  display: block;
}
