@import "../bower_components/normalize-css/normalize.css";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

@bg-color: #263843;
@fg-color: #eee;

body {
	font-family: 'Source Sans Pro',sans-serif;
}

.canvas {
	width: 900px;
	height: 675px;
	margin: 0 auto;

	#timeline-background {
		fill: @bg-color;
	}

	#timeline-marker {
		fill: lighten(@bg-color, 5%);
	}

	.timeline-controls {
		position: relative;
		width: 100%;
		overflow: auto;
		margin: 0;
		padding: 0;

		.timeline-point {
			fill: none;
			stroke: lighten(@bg-color, 5%);

			text {
				fill: @fg-color;
				stroke: none;
				font-size: 1.2em;

			}

		}
	}

	#content-background {
		fill: #eee;
	}

	.content {
		g {
			display: none;

			&:first-child {
				display: block;
			}
		}
	}
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #fff;
	}
}






